* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}

.btn-about{
    background-color: burlywood;
}

.btn-about:hover{
    background-color: green;
}

.show_news_swg{
    width: 90px;
    cursor: pointer;
}

